@import "colors/gruvbox.css";

* {
  all: unset;
  font-family: "Jetbrains Mono, monospace";
}

window#waybar {
  background-color: @bg0;
  color: @fg;
  border-radius: 0 0 10px 10px;
}

#workspaces {
  min-width: 100px;
  font-size: 0.4rem;
  padding: 2px 4px;
  border-radius: 99px;
}

#workspaces button {
  background-color: @bg4;
  color: transparent;
  padding: 0px 5px;
  border-radius: 99px;
  margin: 0 2px;
  min-width: 4px;
}

#workspaces button.active {
  background-color: @blue;
  min-width: 1.5rem;
  /* font-weight: 800; */
  transition: none;
}

#clock,
#clock#right {
  margin: 0 15px;
  font-weight: 700;
  font-size: 1.12rem;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#cava {
  margin: 0 12px;
  font-size: 0.7rem;
  color: @orange;
  letter-spacing: 1px;
}

#battery {
  color: @green;
  margin-left: 5px;
}

/* Physical network */
#custom-network {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 5px;
}

/* Wi-Fi */
#custom-network.wifi {
    color: @purple;
}

/* Ethernet */
#custom-network.ethernet {
    color: @purple;
}

/* Disconnected */
#custom-network.disconnected {
    color: @grey1;
}

#pulseaudio {
  color: @yellow;
}

#memory {
  color: @aqua
}
/* Tooltip box sizing, background, and font */
tooltip {
  background-color: @bg0;
  border: 2px solid @bg4;
  border-radius: 8px;
  padding: 14px 18px;
}

tooltip label {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.3rem; /* Increase to 1.2rem or 1.3rem if you want it even bigger */
  color: @fg;
}

/* Calendar component styling using your Gruvbox palette */
.calendar-months {
  font-weight: bold;
  font-size: 1.3rem;
  color: @yellow;
}

.calendar-weekdays {
  font-weight: bold;
  color: @orange;
}

.calendar-days {
  color: @fg;
}

.calendar-today {
  font-weight: bold;
  color: @blue;
}
#custom-protonvpn {
    padding: 0 8px;
}

#custom-protonvpn.connected {
    color: @blue;
}

#custom-protonvpn.connected:hover {
    color: @yellow;
}
